/* Reusable CSS */
html {
    scroll-behavior: smooth;
}


p {
    text-align: justify;
}

/* Body */
body {
    background-color: #f6f4fb;
    position: relative;
    min-height: 100vh;
}

/* Navbar */

 .navbar {
    background-color: #e1d9f2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030; 
 }

 .navbar-brand {
    font-weight: bold;
    font-size: x-large;
 }

 .margin-to-navbar {
    margin-top: 100px !important;
 }

 /* Hide brand text in smaller devices */
 @media screen and (max-width: 550px) {
   .navbar-brand {
      font-size: 0;
   }
 }

 /* Footer */

footer {
    bottom: 0 !important;
    margin-top: auto !important;
    position: relative !important;
}

.bi {
   color: black;
}


/* Styles for the maps iframe */
.map {
    width: 100%;
    max-width: 100%;
  }
  
/* Testimonials Carousel */
 .testimonials {
    padding: 40px 40px 80px 40px;
 }

 .testimonials .carousel {
    max-width: 800px;
 }

 .testimonials .carousel-item {
    max-height: 600px;
 }

 .carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .testimonial-img {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
 }

 .testimonial-text {
    max-width: 70%;
    font-size: 20px;
    font-style: italic;
 }

 .testimonial-info{
    font-weight: bold;
    text-align: center;
 }

 .testimonial-info p {
    margin-bottom: 0;
 }

 .client-name {
    font-size: 1.2rem;
 }

 .client-info {
    font-size: 0.9rem;
    color: #656060;
 }

 @media screen and (max-width: 800px) {
    .testimonial-img {
        height: 120px;
        width: 120px;
    }

    .testimonial-text {
        font-size: 18px;
    }
 }

 /* Scroll Up Button */
 .scrollup {
   display: none;
 }

 .show-scrollup {
    position: fixed;
    z-index: 1030;
    right: 0.5rem;
    bottom: 90px;
    font-size: larger;
    color: #37194d;
    display: block;
 }

